*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(hd1.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: new time roman;
}
h1{
	font-size: 50px;
	color:yellow;
}
img{
	width: 130px;
	height: 120px;
	border-radius: 150px;
	margin-left: 200px;
}
img:hover{
	-webkit- transform: scale(1.8);
}
.form-control{
	/*background: transparent;
	border-radius: 0px;
	border: 0px;
	*/border-bottom: 1px solid yellow;
	font-size: 21px;
	margin-top: 18px;
	padding: 23px;
	color:white;
}

.col-md-6{
	box-shadow: -1px 1px 50px 10px white;
	border-radius: 0px 100px 0px 100px;
	margin-top: 60px;
	height: 580px;
	background:rgba(0,0,0,0.4);
}


a{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color:yellow;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 18px;
	overflow: hidden;
	transform: 0.2s;




}

a:hover{
	color:white;
	background:yellow;
	box-shadow: 0 0 10px pink,0 0 40px pink,0 0 80px pink;
}

